/* THEME COLORS */

:root {
  --primary-color: #fbc91b;
  --gray-text: #00000080;
  --black-text: #000000d1;
  --gray: #f2f2f2;
}

.x-bg-color-pri {
  background-color: var(--primary-color);
}

.x-color-pri {
  color: var(--primary-color);
}

.x-color-gt {
  color: var(--gray-text);
}

.x-bg-color-g {
  background-color: var(--gray);
}

.x-color-bt {
  color: var(--black-text);
}

.x-border-g {
  border-color: var(--gray);
}
.x-border-pri {
  border-color: var(--primary-color);
}
